@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 1920px;
    background-color: #ECECEC;
    font-family: "DM Sans", sans-serif;
}

main{
    max-width: 90%;
    margin: 0 auto;
}